/* 隐藏页尾 */
.md-copyright {
    font-size: 0;
}

.md-copyright__highlight, 
.md-copyright__highlight a {
    font-size: 0.64rem;
}

.md-copyright a[href*="squidfunk.github.io"] {
    display: none;
}

/* 页眉返回首页 */
.md-header__button.md-logo {
    display: flex;
    align-items: center;
    width: auto;
    margin-right: 0;
}

.md-header__topic {
    pointer-events: auto;
    cursor: pointer;
}

/* 编辑按钮 */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

#edit-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}