/* 隐藏页脚冗余信息 */
.md-copyright {
    font-size: 0;
}
.md-copyright__highlight, .md-copyright__highlight a {
    font-size: 0.64rem;
}
.md-copyright a[href*="squidfunk.github.io"] {
    display: none;
}

/* 桌面端页眉返回首页点击区 */
@media screen and (min-width: 76.25em) {
    .md-header__button.md-logo {
        position: relative;
        z-index: 10;
    }
    .md-header__button.md-logo::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 400px;
        height: 100%;
        cursor: pointer;
    }
}

/* 移动端页眉避让汉堡菜单逻辑 */
@media screen and (max-width: 76.24em) {
    .md-header__button.md-logo {
        position: relative;
        z-index: 10;
    }
    .md-header__button.md-logo::after {
        content: "";
        position: absolute;
        top: 0;
        left: 4rem; 
        width: 280px;
        height: 100%;
        cursor: pointer;
    }
    [for="__drawer"] {
        position: relative;
        z-index: 100;
    }
}

/* 页眉标题悬停反馈 */
.md-header__topic:hover {
    opacity: 0.7;
    transition: opacity 0.2s;
}

/* 正文标题加粗 */
.md-typeset h1 {
    font-weight: 800 !important;
}

/* 编辑弹窗背景遮罩样式 */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(3px);
}

/* 编辑弹窗主体样式 */
#edit-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: 1px solid var(--md-divider-color); 
    outline: none;
    border-radius: 12px;
}

/* 弹窗开启时禁用底层滚动 */
body:has(dialog[open]) {
    overflow: hidden;
}

/* 移动端页脚版权与图标居中对齐 */
@media screen and (max-width: 47.9375em) {
    .md-footer-meta__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .md-copyright {
        margin-bottom: 0.5rem;
        margin-right: 0;
    }
    .md-social {
        padding-left: 0;
        margin-left: 0;
        display: flex;
        justify-content: center;
    }
}
