{% extends "base.html" %}

{% block scripts %}
  {{ super() }}
  {# 搜索改进 #}
  {% include "partials/custom-search.html" %}
  {# 日期改进 #}
  {% include "partials/custom-date.html" %}

  <script>
    (function() {
      function injectTrigger() {
        var container = document.querySelector("#hd-action-js-container .hd-action-container");
        if (!container || container.querySelector(".md-header__button")) return;

        // 动态创建触发按钮
        var label = document.createElement("label");
        label.setAttribute("for", "hd-action-toggle");
        label.className = "md-header__button md-icon";
        label.title = "新增条目";
        label.innerHTML = '<span class="twemoji">{% include ".icons/material/plus.svg" %}</span>';
        
        // 插入到 aside 之前
        container.insertBefore(label, container.firstChild);
      }

      // 页面加载完成后立刻注入
      window.requestAnimationFrame(injectTrigger);

      // 兼容 Material 的 Instant Loading
      if (window.app$) {
        app$.subscribe(function() {
          window.requestAnimationFrame(injectTrigger);
        });
      }
    })();
  </script>
{% endblock %}
